@model CrazyBooks_Models.ViewModels.BookVM

@{ Layout = "~/Views/Shared/_Layout.cshtml";
   var title = "Delete a Book"; }

<div class="border p-3 DivBgForm">
    <form class="form-horizontal" method="post" asp-controller="Book" asp-action="Delete">
        <div class="row p-3 border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="col-12 border-bottom">
                <h2 class="text-primary">@title</h2>
            </div>
            <div class="col-8  pt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Book.Title"></label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="Book.Title" class="form-control" />
                        <span asp-validation-for="Book.Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Book.ISBN"></label>
                    </div>
                    <div class="col-8">
                        <input disabled asp-for="Book.ISBN" class="form-control" />
                        <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Book.Price"></label>
                    </div>
                    <div class="col-8">
                        <input disabled type="number" asp-for="Book.Price" class="form-control text-right" />
                        <span asp-validation-for="Book.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Book.PublishedDate"></label>
                    </div>
                    <div class="col-8">
                        <input disabled type="date" asp-for="Book.PublishedDate" value="2021-01-01" class="form-control" />
                        <span asp-validation-for="Book.PublishedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Book.Publisher_Id"></label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(p => p.Book.Publisher_Id, Model.PublisherList.OrderBy(p => p.Text), "-Select a Publisher",
                       new { @class = "form-control" })
                        <span asp-validation-for="Book.Publisher_Id" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Book.Subject_Id"></label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(s => s.Book.Subject_Id, Model.SubjectList.OrderBy(s => s.Text), "-Select a Subject",
                       new { @class = "form-control" })
                        <span asp-validation-for="Book.Subject_Id" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4">
            </div>
            </div>
            @{<partial name="_DeleteAndBackToListButton" model="Model.Book.Id" /> }
            </div>
        </div>
    </form>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
