@model CrazyBooks_Models.Models.Subject
 
 <div class="border p-3 DivBgForm">
   <form class="form-horizontal" method="post" asp-controller="Subject" asp-action="Delete">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class="form-group row">
         <h2 class="text-info pl-3">Update the Subject</h2>
         <hr />
       </div>

       <div class="row">
         <div class="col-8">
           <div class="form-group  row p-2">
             <div class="col-2">
               <label asp-for="Name" class="col-form-label"></label>
             </div>
             <div class="col-8">
               <input asp-for="Name" class="form-control" />
               <span asp-validation-for="Name" class="text-danger"></span>
             </div>
           </div>


           <div class="form-group row p-2">
             <div class="col-8 offset-2 row">
                     @{<partial name="_DeleteAndBackToListButton" model="Model.Id" /> }
             </div>
           </div>

         </div>
       
       </div>

   </form>
  </div>
 
  @section Scripts{
    @{
      <partial name="_ValidationScriptsPartial" />
    }
  }