@model CrazyBooks.Models.Book

<form method="post" asp-action="Create">
  <div class="border p-3 DivBgForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
      <h2 class="text-info pl-3">Create a Book</h2>
      <hr />
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group row">
          <div class="col-2">
            <label asp-for="Title"></label>
          </div>
          <div class="col-8">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="form-group row">
              <div class="col-2">
                <label asp-for="ISBN"></label>
              </div>
              <div class="col-8">
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row py-2">
              <div class="col-8 offset-2 row">
                <div class="col">
                  <input type="submit" class="btn btn-info w-100" value="Create" />
                </div>
                <div class="col">
                  <a asp-action="Index" class="btn btn-success w-100">Back to list</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-4">

          </div>
        </div>

      </div>
</form>
@section Scripts{

  @{
    <partial name="_ValidationScriptsPartial" />
  }

}