@using S08_DependencyInjection_Models.ViewModels
@model HomeIndexVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-around">
        @foreach (MonitoringServiceInfosVM msivm in Model.MonitoringServicesInfos)
        {
            <partial name="_MonitoringServiceInfos" model="msivm" />
        }
    </div>
</div>