@using MovieLand_Models.ViewModels
@model ListOfMoviesVM

@{
    ViewData["Title"] = "Films";
    ViewData["ShowActions"] = Model.ShowActions;
}


<div class="row actions-container center">
    <div class="col-1">
        <a asp-action="Create"><i class="bi bi-plus-circle-fill text-white" title="Ajouter un nouveau film"></i></a>
    </div>
</div>
<div class="row items-container">
    @foreach (MovieForListVM mlvm in Model.Movies)
    {
        <partial name="_MovieForList" model="mlvm" view-data="ViewData" />
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/movies-index.js"></script>
}