@model int
<div class="row">
    <div class="col">
      <button type="submit" onclick="return validateInput()" class="btn btn-info form-control" asp-route-id="@Model"><i class="fas fa-pen"></i>&nbsp;@SharedLocals["Update"]</button>
    </div>
    <div class="col">
      <a asp-action="Index" class="btn btn-primary form-control"><i class="fas fa-th-list"></i>&nbsp;@SharedLocals["BackToList"]</a>
    </div>
</div>